:root{
    --mainTextColor:#212121;
     --mainEmailColor:#757575;
     --mainLinkColor:#2196F3;
     --mainLogoColor:#000000;
      --mainBackgroundColor:#2F303A;
      --mainBackgroundColor2:#F5F4FA;
      --mainBackgroundFooter:#FFFFFF;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
}
.nav-logotype{
    width: 145px;
  height: 31px;
  left: 215px;
  right: 1240px;
  top: 24px;
  bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-align: left;
  margin-right: 32px;
}
.menu-contacts{
    display: flex;
    column-gap: 50px;
}
.menu-item0{
    margin-right: 32px;
}
.menu-link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color:var(--mainTextColor);
}
.link1:not(:last-child){
    display: flex;
  margin-right: 50px;
  margin-left: 344px;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--mainLinkColor);
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--mainEmailColor);
}
.logo-text{
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--mainLinkColor);
}
.logo-header{
    color: var(--mainLogoColor);
}
.contacts-link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color:var(--mainEmailColor);
}
/*WebStudio*/
.title{
    color:var(--mainBackgroundFooter);
    font-family: var(--font-family);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   text-align: center;
   font-style: normal;
   width: 696px;
   flex-shrink: 0;
   margin: 0 auto;
}
.hero-section{
    background-color: var(--mainBackgroundColor);
    padding-top: 200px;
    padding-bottom: 200px;
}
.section{
    padding-top:94px;
    padding-bottom: 94px;
}
.button{
    color: var(--mainBackgroundFooter);
    background-color: var(--mainLinkColor);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: 470px;
    margin-top: 30px;
    font-style: normal;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}
.features-title{
    color:var(--mainTextColor);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    margin-left: 10px;
}
.features-list{
    display: flex;

}
.features-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--mainEmailColor);
    padding:10px;
}
.texttitle1 {
  text-align: left;
  width: 270px;
  height: 72px;
}
.texttitle2 {
  width: 270px;
  height: 48px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.texttitle3 {
  width: 270px;
  height: 48px;
  left: 815px;
  text-align: left;
}
.texttitle4 {
  width: 270px;
  height: 72px;
  text-align: left;
}
.heading{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--mainTextColor);
    margin-bottom: 50px;
}
.services{
    display: flex;
    /* margin-top: 92px; */
    column-gap: 30px;
    
}
.services-img{
    
}
.section5{
    background-color:var(--inBackgroundColor2--);
    /*height: 648px;*/
}
.team{
    display: flex;
    column-gap: 30px;
}
.team-item{
    /* margin-right: 30px; */
    width: 270px; /* Ширина карточки */
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--mainBackgroundFooter);
}
.team-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainTextColor);
margin-top: 30px;
font-weight: 500;
}
.team-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainEmailColor);
}


/*Portfolio*/
.buttons{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
background-color:var(--mainBackgroundFooter);
color:var(--mainTextColor);
}
.offers-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color:var(--mainTextColor);
}
.offers-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color:var(--mainEmailColor);
}

.footer {
  background-color:var(--mainBackgroundColor);
  height: 252px;
  padding-top:60px;
  padding-bottom: 60px;
}
.logo-footer{
    color: var(--mainBackgroundFooter);
}
.address-post{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--mainBackgroundFooter);
}
.address-email,
.address-phone{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--mainEmailColor);
}
.address{
    font-style: normal;
}
.foot-logo{
    padding-top: 60px;
}
.lifoot2{
    margin-top: 20px;
}
.lifoot3{
    margin-top: 9px;
}
.lifoot4{
    margin-top: 11px;
}

