:root{
    --mainTextColor:#212121;
     --mainEmailColor:#757575;
     --mainLinkColor:#2196F3;
     --mainLogoColor:#000000;
      --mainBackgroundColor:#2F303A;
      --mainBackgroundColor2:#F5F4FA;
      --mainBackgroundFooter:#FFFFFF;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.menu-link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color:var(--mainTextColor);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--mainLinkColor);
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--mainEmailColor);
}
.logo-text{
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--mainLinkColor);
}
.logo-header{
    color: var(--mainLogoColor);
}
.contacts-link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color:var(--mainEmailColor);
}
/*WebStudio*/
.title{
    color:var(--mainBackgroundFooter);
    font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
}
.button{
    color: var(--mainBackgroundFooter);
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
}
.features-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--mainTextColor);
}
.features-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--mainEmailColor);
}
.heading{
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainTextColor)
}
.team-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainTextColor);
}
.team-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainEmailColor);
}

/*Portfolio*/
.buttons{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color:var(--mainBackgroundFooter);
}
.offers-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color:var(--mainTextColor);
}
.offers-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color:var(--mainEmailColor);
}

.footer {
  background-color:#2F303A
}
.logo-footer{
    color: var(--mainBackgroundFooter);
}
.address-post{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--mainBackgroundFooter);
}
.address-email,
.address-phone{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--mainEmailColor);
}

